@model Employee

<h2>Добавление сотрудника</h2>

@using (Html.BeginForm("Add", "Employee", FormMethod.Post))
{
    <title>jQuery UI Autocomplete - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var availableTags = [
                "Коля",
                "Маша",
                "Миша",
                "Игорь",
                "Артур",
                "Антон",
                "Вова",
                "Никита",
                "Катя",
                "Лера",
                "Ольга",
                "Нина",
                "Ирина",
                "Даша",
                "Наташа",
                "Альбина",
                "Света",
                "Арнольд",
                "Дина",
                "Денис",
                "Костя",
                "Люда"
            ];
            $("#Name").autocomplete({
                source: availableTags
            });
        });
    </script>

    <div class="ui-widget">
        <label for="Name" >
            <br />Имя:
        </label>
        <input name="Name" id="Name">
    </div>

    <br />
    @Html.LabelFor(model => model.lastName, "Фамилия")
    <br />
    @Html.EditorFor(model => model.lastName)
    <br />
    <br />
    @Html.LabelFor(model => model.age, "Возраст")
    <br />
    @Html.EditorFor(model => model.age)
    <br />
    <br />
    <p> Пол </p>
    <select name="sex">
        <option value="sex">Пол</option>
        <option>М</option>
        <option>Ж</option>
    </select>
    <br />
    <br />
    <p>Отдел</p>
    <select name="Dep">
        <option value="Dep">Отдел</option>
        @foreach (var department in ViewBag.department)
        {
            <option>@department.name</option>
        }
    </select>
    <br />
    <br />
    <p>Язык программирования</p>
    <select name="ProgLang">
        <option value="ProgLang">Язык программирвания</option>
        @foreach (var pl in ViewBag.progLang)
        {
            <option>@pl.name</option>
        }
    </select>
    <br />
    <br />

    <input type="submit" value="Добавить" />
}


