@model HomeViewModel;

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            width: 800px;
            border: 2px solid green;
        }

        td {
            text-align: center;
            border: 1px solid black;
        }
    </style>
    
</head>
<body>
    <caption>Список сотрудников</caption>
    <p><a class="nav-link" asp-controller="Employee" asp-action="Add">Добавить</a></p>
    <table>
        <tr>
            <th>Имя</th>
            <td><b>Фамилия</b></td>
            <td><b>Возраст</b></td>
            <td><b>Пол</b></td>
            <td><b>Отдел</b></td>
            <td><b>Язык</b></td>
        </tr>
        @{ foreach (var em in Model.AllEmployee)
            {
                <tr>
                    <td> @em.firstName</td>
                    <td> @em.lastName</td>
                    <td> @em.age</td>
                    <td> @em.sex</td>
                    
                    @{foreach (var dep in ViewBag.departments)
                        if(dep.id == em.IdDepartment)
                        {
                            <td> @dep.name </td>
                        }                        
                     }
                    @{foreach (var pLang in ViewBag.progLang)
                        if(pLang.id == em.IdProgLang)
                        {
                            <td> @pLang.name </td>
                        }                        
                     }

                    @*<td> @em.ProgLang.name</td>*@
                    <td><p><a href="/Home/Buy/@em.id">Изменить</a></p> <p><a href="/Home/Buy/@em.id">Удалить</a></p></td>
                    @*<td><p><a href="/Home/Buy/@em.id">Удалить</a></p></td> //31:09*@
                </tr>
            }
        }
    </table>
</body>
</html>